<!DOCTYPE html>
<html>
  <head>
    <title>Hotwired ATS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="flex flex-col h-screen justify-between px-4 md:px-0">
      <main class="mb-auto w-full">
        <div class="mx-auto max-w-7xl">
          <%= yield %>
        </div>
      </main>
    </div>

    <div id="flash-container">
      <% flash.each do |key, value| %>
        <%= render "shared/flash", level: key, content: value %>
      <% end %>
    </div>
  </body>
</html>
